<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="asteroidControlSystem" class="dk.sdu.mmmi.cbse.asteroid.AsteroidControlSystem"/>
    <bean id="asteroidPlugin" class="dk.sdu.mmmi.cbse.asteroid.AsteroidPlugin"/>
    <bean id="asteroidSplitter" class="dk.sdu.mmmi.cbse.asteroid.AsteroidSplitter"/>
    <bean id="player" class="dk.sdu.mmmi.cbse.player.Player"/>
    <bean id="playerControlSystem" class="dk.sdu.mmmi.cbse.player.PlayerControlSystem"/>
    <bean id="playerPlugin" class="dk.sdu.mmmi.cbse.player.PlayerPlugin"/>
    <bean id="enemy" class="dk.sdu.mmmi.cbse.enemy.Enemy"/>
    <bean id="enemyControlSystem" class="dk.sdu.mmmi.cbse.enemy.EnemyControlSystem"/>
    <bean id="enemyPlugin" class="dk.sdu.mmmi.cbse.enemy.EnemyPlugin"/>
</beans>
